// _global.scss 
// global styles

// placeholder for font link

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body { 
    font: $secondary-font;
    color: $tertiary-neutral;
    font-size: 1rem;
}
