// _responsive.scss 
// responsive styles

// placeholder for font link



@media screen and (max-width: 1024px)  {
	.alt_respons {
		display: contents;
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	.left1, .right1, .left_col_text, .right_col_text, .line_left, .theatrical_left, .theatrical_right {
		display: none;
	} 
	.hero {
		width: 100%;
		max-height: 15%;
		contain: content;
	}
	.hero img {
		width: 100%;
		height: 500px;
	}
	#founder {
		border-radius: 50%;
		text-align: center;
		margin: auto;
	}
	.alt_respons .little_hr {
		max-width: 80%;
	}
	// .group1, .group2, .group3, .group4 {
	// 	display: none;
	// }
	.alt_respons .group1, .alt_respons .group2 {
		display: contents;
		display: inline-block;
	}
}

@media screen and (max-width: 900px)  {
	.type h2 {
		font-size: 2rem;
	}
	.television .type {
		flex-flow: column;
		text-align: center;
		}
	// .group1, .group2, .group3, .group4 {
	// 	display: none;
	// }
	.alt_respons .group1, .alt_respons .group2 {
		display: contents;
		display: inline-block;
	}
	.pie_1 {
		width: 100%;
	}
	.pie_2 {
		width: 100%;
	}
	.pie_3 {
		width: 100%;
	}
	.other div {
		display: inline-block;
		padding: 1.5rem;
		width: auto;
		// margin: auto;
	}
	.television div {
		display: inline-block;
		text-align: center;
	}
	.media div {
		display: inline-block;
		text-align: center;
	}
	.international div {
		display: inline-block;
		text-align: center;
	}
	.home_entertainment div {
		display: inline-block;
		padding: 1.5rem;
		width: auto;
		// margin: auto;
	}
	.theatrical div {
		display: inline-block;
		padding: 1.5rem;
		width: auto;
		// margin: auto;
	}
	
}

@media screen and (max-width: 700px)  {
	.group1, .group2, .group3, .group4, .ventures_left, .ventures_middle, .ventures_right {
		display: none;
	}
	.alt_respons .group1, .alt_respons .group2 {
		display: contents;
		display: inline-block;
	}
}

@media screen and (max-width: 400px)  {
	.flex_main {
		width: 100%;
		display: none;
	}
	.alt_respons {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	.group1, .group2, .group3, .group4, .ventures_left, .ventures_middle, .ventures_right {
		display: none;
	}
}
