// _ul.scss 
// ul styles

// placeholder for font link



section ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
section ul li {
	margin: 0;
	text-align: left;
	text-decoration: dotted;
}
li {
	color: $black;
	// margin: 2.2rem;
	margin: auto auto 3% auto;
	text-align: center;
	text-decoration: none;
	padding: 2% 5% 2% 5% ;
}
.color1 {
	color: $tertiary;
	background-color: $secondary;
}
.color2 {
	background-color: $tertiary;
}
.color3 {
	color: $tertiary;
	background-color: $fourth;
}
.color4 {
	$secondary: #bc6c25;
	$tertiary: #fefae0;
	$fourth: #606c38;
}


.flex_ul {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
	margin: 0 auto 4% auto;
	padding: 0 auto 4% auto;
	width: 70%;
	// text-decoration: none;
	list-style-type: none;
}
.flex_ul li {
	margin: 0 auto 2% auto;
	list-style-type: none;
}


// SECTION 4 HOME PAGE 'history'
.history li {
	list-style: none;
	padding: 1rem;
	margin-left: 0.5rem;
}


// SECTION 5 HOME PAGE 'motion-picture', 'television-production', 'media-networks'
.motion-picture  li {
	padding: 1rem;
	margin-left: 0.5rem;
	width: 80%;
	margin: auto;
	list-style: circle;
}


// SECTION 8 HOME PAGE 'properties'
.properties ul {
	text-align: left;
	margin: auto;
	padding: 0 8% 0 8%;
	width: 80%;
}
.properties li {
	text-align: left;
	margin: auto;
	// width: 80%;
	list-style-type: none;
}


// SECTION 9 HOME PAGE 'covid-19'
.covid-19 ul {
	text-align: left;
	margin: auto;
	padding: 0 8% 0 8%;
	width: 80%;
	line-height: 1.5rem;
}
.covid-19 li {
	text-align: left;
	margin: auto;
	list-style-type: square;
}
.covid-19 li::marker {
    content: '■';
	font-size: x-large;
  }
  
  // SECTION 10 HOME PAGE 'capital-and-financial'
.capital-and-financial  li {
	padding: 1rem;
	margin-left: 0.5rem;
	width: 80%;
	margin: auto;
	list-style: circle;
}