@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.alt_respons {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font: "Fraunces";
  color: #434343;
  font-size: 1rem;
}

section ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

section ul li {
  margin: 0;
  text-align: left;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

li {
  color: #000000;
  margin: auto auto 3% auto;
  text-align: center;
  text-decoration: none;
  padding: 2% 5% 2% 5%;
}

.color1 {
  color: #fefae0;
  background-color: #bc6c25;
}

.color2 {
  background-color: #fefae0;
}

.color3 {
  color: #fefae0;
  background-color: #606c38;
}

.flex_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto 4% auto;
  padding: 0 auto 4% auto;
  width: 70%;
  list-style-type: none;
}

.flex_ul li {
  margin: 0 auto 2% auto;
  list-style-type: none;
}

.history li {
  list-style: none;
  padding: 1rem;
  margin-left: 0.5rem;
}

.motion-picture li {
  padding: 1rem;
  margin-left: 0.5rem;
  width: 80%;
  margin: auto;
  list-style: circle;
}

.properties ul {
  text-align: left;
  margin: auto;
  padding: 0 8% 0 8%;
  width: 80%;
}

.properties li {
  text-align: left;
  margin: auto;
  list-style-type: none;
}

.covid-19 ul {
  text-align: left;
  margin: auto;
  padding: 0 8% 0 8%;
  width: 80%;
  line-height: 1.5rem;
}

.covid-19 li {
  text-align: left;
  margin: auto;
  list-style-type: square;
}

.covid-19 li::marker {
  content: "■";
  font-size: x-large;
}

.capital-and-financial li {
  padding: 1rem;
  margin-left: 0.5rem;
  width: 80%;
  margin: auto;
  list-style: circle;
}

h1, h2, h3 {
  font: "Playfair Display SC";
  color: #000000;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {
  font-size: 1.6rem;
  font-weight: 400;
}

h6 {
  font-size: 1.4rem;
  font-weight: 300;
}

.history h2, .motion-picture h2, .properties h2, .covid-19 h2, .capital-and-financial h2, .television-production h2, .media-networks h2 {
  text-align: center;
}

.sub_text {
  text-align: center;
  margin: auto;
  margin-top: 2%;
  width: 55%;
}

.sub_text2 {
  width: 75%;
  text-align: left;
  margin: auto;
  margin-top: 2%;
}

.golden_title, .sub_text {
  text-align: center;
  margin: auto;
}

.golden_title {
  background-color: #dda15e;
  width: 80%;
  margin-bottom: 2%;
  padding: 1% 0 1% 0;
  color: #f5f5f5;
}

@media screen and (max-width: 1024px) {
  .alt_respons {
    display: contents;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .left1, .right1, .left_col_text, .right_col_text, .line_left, .theatrical_left, .theatrical_right {
    display: none;
  }

  .hero {
    width: 100%;
    max-height: 15%;
    contain: content;
  }

  .hero img {
    width: 100%;
    height: 500px;
  }

  #founder {
    border-radius: 50%;
    text-align: center;
    margin: auto;
  }

  .alt_respons .little_hr {
    max-width: 80%;
  }

  .alt_respons .group1, .alt_respons .group2 {
    display: contents;
    display: inline-block;
  }
}
@media screen and (max-width: 900px) {
  .type h2 {
    font-size: 2rem;
  }

  .television .type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }

  .alt_respons .group1, .alt_respons .group2 {
    display: contents;
    display: inline-block;
  }

  .pie_1 {
    width: 70%;
  }

  .pie_2 {
    width: 70%;
  }

  .pie_3 {
    width: 70%;
  }

  .flex_main div {
    display: inline-block;
    padding: 1.5rem;
    width: auto;
  }

  .television div {
    display: inline-block;
    text-align: center;
  }

  .television div {
    display: inline-block;
    text-align: center;
  }

  .media div {
    display: inline-block;
    text-align: center;
  }

  .international div {
    display: inline-block;
    text-align: center;
  }

  .home_entertainment div {
    display: inline-block;
    padding: 1.5rem;
    width: auto;
  }

  .theatrical div {
    display: inline-block;
    padding: 1.5rem;
    width: auto;
  }
}
@media screen and (max-width: 700px) {
  .group1, .group2, .group3, .group4, .ventures_left, .ventures_middle, .ventures_right {
    display: none;
  }

  .alt_respons .group1, .alt_respons .group2 {
    display: contents;
    display: inline-block;
  }

  .pie_1 {
    width: 50%;
  }

  .pie_2 {
    width: 50%;
  }

  .pie_3 {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .flex_main {
    width: 100%;
    display: none;
  }

  .alt_respons {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .group1, .group2, .group3, .group4, .ventures_left, .ventures_middle, .ventures_right {
    display: none;
  }

  .pie_1 {
    width: 30%;
  }

  .pie_2 {
    width: 30%;
  }

  .pie_3 {
    width: 30%;
  }
}
.tablink {
  background-color: #606c38;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
  margin: auto;
}

.tablink:hover {
  background-color: #283618;
}

/* Style the tab content */
.tabcontent {
  color: #000000;
  display: none;
  padding: 50px;
  text-align: center;
}

#brand, #colors, #fonts, #icons, #links, #elements {
  background-color: #fefae0;
}

.brand p, .colors p, .fonts p, .icons p, .links p, .elements p {
  line-height: 1.5rem;
}

.accordion h2 {
  width: 80%;
  margin: 2% auto 2% auto;
  color: #dda15e;
}

.accordion h4 {
  background-color: #dda15e;
  width: 80%;
  margin: 2% auto 2% auto;
  padding: 1% 0 1% 0;
  color: #f5f5f5;
}

.flex_second {
  width: 100%;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex_third {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.accordion .left, .accordion .middle, .accordion .right {
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: none;
}

.accordion ul {
  list-style-type: none;
}

.accordion ul li {
  padding: 0;
  margin: 0;
}

.accordion ul {
  padding: 4% 2% 4% 2%;
}

.accordion ul li {
  text-align: center;
}

#lt_org {
  background-color: #dda15e;
}

#lt_grn {
  background-color: #606c38;
}

#bnt_org {
  background-color: #bc6c25;
}

#dk_grn {
  background-color: #283618;
}

#crm {
  background-color: #fefae0;
}

#blk {
  color: #f5f5f5;
  background-color: #000000;
}

#dk_gry {
  background-color: #434343;
}

#med_gry {
  background-color: #666666;
}

#lt_gry {
  background-color: #c9c9c9;
}

#wht {
  background-color: #f5f5f5;
}

.flex_main {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*    flex-wrap: wrap;*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*    align-items: center;*/
}

.flex_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

section {
  padding-top: 4rem;
}

.beginning {
  padding: 0;
}

.beginning div em, .beginning div em {
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: none;
}

.top_hr {
  width: 200rem;
  max-width: 100%;
  border-bottom: solid 5rem #606c38;
  padding: 0;
}

hr {
  max-width: 50rem;
  border-bottom-color: #283618;
  border-width: 0.3rem;
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 3rem;
}

.little_hr {
  width: 50%;
  max-width: 100%;
  border-bottom: solid 0.15rem #c9c9c9;
  padding: 0;
  margin: 2% auto 2% auto;
}

.splash a {
  display: block;
  text-decoration: none;
  color: #606c38;
  margin: 0;
}

a:hover {
  opacity: 0.6;
}

.splash a img {
  width: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: #606c38;
  padding: 3%;
}

.button {
  background-color: #dda15e;
  color: #000000;
  padding: 1%;
  border: none;
  text-decoration: none;
  margin: 2%;
}

.left, .middle, .right {
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: none;
}

.center {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.frame, .frame5, .frame2 {
  width: 80%;
  contain: content;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame2 {
  border-radius: 50%;
}

.frame3 {
  width: 100%;
  contain: content;
}

.frame4 {
  width: 40%;
  contain: content;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame4 img {
  width: 100%;
  contain: content;
  max-height: 100%;
}

.frame5 {
  max-height: 80%;
}

.left img, .middle img, .right img {
  max-width: 100%;
  justify-items: center;
}

span {
  font-size: 4rem;
  color: #dda15e;
}

.left_pad {
  padding: 0 0 0 15%;
}

.left_col_text {
  margin: auto;
  font-size: 2rem;
  padding: 5% 0% 5% 10%;
}

.right_col_text {
  width: 70%;
  margin: auto;
  text-align: left;
  font-size: 1.13rem;
  line-height: 1.13rem;
  padding: 0 10% 0% 10%;
  margin: auto;
}

.line_left {
  border-left: solid 1px #c9c9c9;
  border-width: medium;
}

.line_right {
  border-right: solid 3px #606c38;
  border-right-width: thick;
}

.line_left {
  border-left: solid 3px #606c38;
  border-right-width: thick;
}

#social_responsibility {
  text-align: center;
  margin: auto;
}

#row1 {
  border-bottom-color: #c9c9c9;
  padding: 0.001rem;
}

.group1, .group2, .group3, .group4 {
  text-align: center;
  padding-top: 0.001rem;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.group3 {
  border-left: solid 1px #c9c9c9;
  border-right: solid 1px #c9c9c9;
}

.group2 {
  border-left: solid 1px #c9c9c9;
}

.span_history {
  border-right: solid 3px #c9c9c9;
  font-size: 2rem;
  color: #000000;
}

.list {
  width: 80%;
  margin: auto;
}

#box1, #box2, #box3, #box4 {
  width: 80%;
  text-align: center;
  margin: auto;
  border: solid 2px #283618;
  margin-bottom: 3%;
  padding: 2%;
}

footer a {
  text-decoration: none;
  color: #606c38;
  padding: 3%;
}

footer a:hover {
  opacity: 0.6;
}

footer p {
  margin-top: 4%;
  text-align: center;
}

#special {
  padding-top: 0;
}

.logo {
  width: 50%;
  margin: 0 0 0 auto;
  padding: 0;
}

.logo img {
  width: 90%;
}

.side_title {
  max-width: 10%;
  height: 10%;
}

.regiment p {
  width: 80%;
  margin: auto;
}

#box5 {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 3%;
  padding: 2%;
}

.theatrical_space {
  margin-top: 4%;
}

.entertainment_sub {
  margin: auto;
  width: 70%;
  text-align: left;
  margin: 5% auto 5% auto;
}

.home_entertainment_space {
  margin-top: 7%;
}

.little_bar {
  width: 50%;
  max-width: 100%;
  border-bottom: solid 0.15rem #c9c9c9;
  padding: 0;
}

.digital_media p {
  margin: 2% auto 2% auto;
  text-align: center;
}

.international div div {
  padding: 1rem;
}

.other div div {
  padding: 1.5rem;
}

.type h2 {
  margin: 10% 0 4% 0;
}

.type div {
  width: 60%;
  text-align: center;
}

.television_p {
  margin: auto auto 4% auto;
}

.partnerships {
  width: 80%;
}

.partnerships p {
  padding: 5%;
  margin: 2%;
}

.partnerships strong {
  color: #000000;
}

.bulleted_list {
  width: 80%;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: circle;
  padding: 2% 0 0 0;
}

.popular-releases {
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 5% 0 15% 0;
}

.ventures div div {
  margin-top: 5%;
  padding: 1.5rem;
}

.ventures .no_space {
  margin-top: 0;
}

.other_media div p {
  font-size: 1.5rem;
  padding: 5%;
}

.sub_text .title {
  margin: 2% auto;
}

.p_span {
  font-size: 1rem;
  color: #434343;
}

#design_title {
  background-color: #606c38;
  padding: 1% 0 1% 0;
  padding-left: 3rem;
  color: #fefae0;
}

.accordion {
  padding-top: 0;
}